<launch>
  <arg name="kinect_name" default="kinect2"/>

  <!-- backgroud store -->
  <node name="$(arg kinect_name)_img_bg_store" pkg="kinects_human_tracking" type="kinect_img_bg_store" output="screen">
    <param name="img_topic" value="$(arg kinect_name)/sd/image_depth_rect_filtered" />
    <param name="bg_frames" value="100" />
  </node>

  <!-- backgroud sub -->
  <node name="$(arg kinect_name)_img_bg_sub" pkg="kinects_human_tracking" type="kinect_img_bg_sub" output="screen">
    <param name="kinect_name" value="$(arg kinect_name)" />
    <param name="topic_in" value="$(arg kinect_name)/sd/image_depth_rect_filtered" />
    <param name="topic_out" value="$(arg kinect_name)/background_sub" />
  </node>

  <!-- Nodelet manager for this pipeline --> 
  <node pkg="nodelet" type="nodelet" args="manager" name="$(arg kinect_name)_record_player_manager" output="screen" />

  <!-- convert the filtered depth into a pointcloud -->
  <node pkg="nodelet" type="nodelet" name="$(arg kinect_name)_depth_filtered_cloudify"
    args="load depth_image_proc/point_cloud_xyzrgb $(arg kinect_name)_record_player_manager" output="screen">
    <remap from="depth_registered/image_rect" to="$(arg kinect_name)/background_sub"/>
    <remap from="depth_registered/points" to="$(arg kinect_name)/depth_registered/filtered_points"/>
    <remap from="rgb/image_rect_color" to="$(arg kinect_name)/sd/image_color_rect"/>
    <remap from="rgb/camera_info" to="$(arg kinect_name)/sd/camera_info"/>
  </node>

  <!-- clean NaNs and downsample the pointcloud -->
  <node pkg="nodelet" type="nodelet" name="$(arg kinect_name)_voxel_grid" 
	args="load pcl/VoxelGrid $(arg kinect_name)_record_player_manager" output="screen">
	<remap from="~input" to="$(arg kinect_name)/depth_registered/filtered_points" />
	<remap from="~output" to="$(arg kinect_name)/depth_registered/downsampled_filtered_points" />
    <rosparam param="filter_field_name">z</rosparam>
    <rosparam param="filter_limit_min">0.5</rosparam>
    <rosparam param="filter_limit_max">4.0</rosparam>
    <rosparam param="filter_limit_negative">False</rosparam>
    <!-- <rosparam param="leaf_size">0.05</rosparam> -->
  </node>

  <!-- merge pc from different kinect -->
  <node name="kinects_merge" pkg="kinects_human_tracking" type="merge_kinects_pc" output="screen">
    <param name="topic_name1" value="$(arg kinect_name)/depth_registered/downsampled_filtered_points" />
    <!-- <param name="topic_name2" value="" /> -->
    <param name="out_frame" value="base_link" />
    <param name="out_topic_name" value="kinect_merge" />
  </node>


</launch>
