<?xml version="1.0"?>
<launch>
	
  <!-- start the robot -->
  <include file="$(find ur_modern_driver)/launch/ur5_bringup.launch">
    <!--arg name="limited" value="true" /-->
    <arg name="robot_ip" value="192.168.31.53" />
    <arg name="use_lowbandwidth_trajectory_follower" value="true" />
  </include>
  
  <include file="$(find ur5_moveit_config)/launch/ur5_moveit_planning_execution.launch">
    <!--arg name="limited" value="true" /-->
  </include>

  <include file="$(find ur5_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true" />
  </include>

  <!--<node pkg="tf" type="static_transform_publisher" name="camera_broadcaster" args="0.83276260552 1.06075976427 0.80056920103 -0.0766471342905 -0.774785158296 0.624693141955 0.0599304070059 base_link kinect2_rgb_optical_frame 100" />-->
  <node pkg="tf" type="static_transform_publisher" name="camera_broadcaster" args="0.882477719022 1.14775159614 0.750788355671 -0.24392208819 -0.744118769819 0.586891689597 0.205784877914 base_link kinect2_ir_optical_frame 100" />

  <!--kinect2_ir_optical_frame/-->


</launch>
