<?xml version="1.0"?>
<launch>
	
  <!-- start the robot -->
  <include file="$(find ur_modern_driver)/launch/ur5_bringup.launch">
    <!--arg name="limited" value="true" /-->
    <arg name="robot_ip" value="192.168.31.53" />
    <arg name="use_lowbandwidth_trajectory_follower" value="true" />
  </include>
  
  <include file="$(find ur5_moveit_config)/launch/ur5_moveit_planning_execution.launch">
    <!--arg name="limited" value="true" /-->
  </include>

  <include file="$(find ur5_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true" />
  </include>

  <node pkg="tf" type="static_transform_publisher" name="camera_broadcaster" args="0.933014396223 -1.2850054063 0.732374841712 -0.714719956463 -0.252652817309 0.223944830569 0.612528081479 base_link kinect2_rgb_optical_frame 100" />

  <!--kinect2_ir_optical_frame/-->


</launch>
